{% extends "base/base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
<title>Test Flask</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('https://images.unsplash.com/photo-1559311745-a57f6233488e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MXwxNzk2Mzd8fGVufDB8fHx8&w=1000&q=80');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>
</head>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-center w3-padding-large w3-xlarge">
    TEST FLASK
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">HOME</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
  </div>

</div>

</body>
</html>
{% endblock %}